@mixin flex-spbn {
    display: flex;
    justify-content: space-between;
}

@mixin font($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin netbook {
    @media (min-width: 1024px) and (max-width: 1200px) {
        @content;
    }
}

@mixin table {
    @media (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin phone {
    @media (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}