$black-color: #000;
$white-color: #fff;
$pink-color: #f16d7f;
$header-bg: #222;
$grey-bg-color: #f8f8f8;
$grey-text-color: #5d5d5d;
$grey-shadow-color: #e5e5e5;
$grey-light-color: #a4a4a4;
$grey-pink-bg: #f1e4e6;
$bg-input: #d7fbf6;