html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

body {
  width: 1600px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; }
  @media (min-width: 768px) and (max-width: 1599px) {
    body {
      width: 100%; } }
  @media (min-width: 375px) and (max-width: 767px) {
    body {
      width: 100%; } }

.container {
  width: 1140px;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1599px) {
    .container {
      width: 95.8%; } }
  @media (min-width: 375px) and (max-width: 767px) {
    .container {
      width: 91.4%; } }

.header {
  background-color: #222; }
  .header__container {
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .header__container {
        width: 91.5%;
        margin: 0 auto; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .header__container {
        width: 91.4%;
        margin: 0 auto; } }
  .header__logo {
    margin: 0 41px 0 0; }
  .header__button {
    fill: #F8F8F8;
    background-color: transparent;
    border: none; }
    .header__button:hover, .header__button:focus {
      fill: #F16D7F;
      cursor: pointer;
      outline: none;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    .header__button:active {
      opacity: .5; }
  .header__menu-list, .header__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__menu-item:not(:last-of-type) {
    margin: 0 34px 0 0; }
    @media (min-width: 375px) and (max-width: 767px) {
      .header__menu-item:not(:last-of-type) {
        margin: 0; } }

@media (min-width: 375px) and (max-width: 767px) {
  .account__header-menu {
    display: none; } }

@media (min-width: 375px) and (max-width: 767px) {
  .cart__header-menu {
    display: none; } }

.intra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media (min-width: 768px) and (max-width: 1599px) {
    .intra__img {
      width: 50%;
      height: auto; } }
  @media (min-width: 375px) and (max-width: 767px) {
    .intra__img {
      display: none; } }
  .intra__content-span {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    color: #222; }
    .intra__content-span--pink {
      color: #F16D7F; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .intra__content-span {
        font-size: 24px;
        line-height: 29px;
        font-weight: 700; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .intra__content-span {
        display: inline-block;
        font-size: 20px;
        line-height: 37px;
        font-weight: 700; } }
  .intra__content-title {
    position: relative;
    color: #222;
    padding: 0 0 0 16px;
    font-size: 48px;
    line-height: 43px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase; }
    .intra__content-title:before {
      position: absolute;
      content: '';
      width: 12px;
      min-height: 92px;
      background-color: #F16D7F;
      left: -12px;
      top: -4px; }
      @media (min-width: 375px) and (max-width: 767px) {
        .intra__content-title:before {
          min-height: 61px; } }
    @media (min-width: 768px) and (max-width: 1599px) {
      .intra__content-title {
        display: inline-block;
        font-size: 44px;
        line-height: 37px;
        font-weight: 900; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .intra__content-title {
        display: inline-block;
        font-size: 38px;
        line-height: 28px;
        font-weight: 900; } }
  .intra__content {
    width: 100%;
    padding: 335px 0 0 64px;
    background-color: #F1E4E6; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .intra__content {
        padding: 138px 0 0 40px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .intra__content {
        padding: 148px 0 149px 56px; } }
  .intra__menu {
    width: 232px;
    height: 765px;
    background: #fff;
    -webkit-box-shadow: 0 18px 33px #ccc;
            box-shadow: 0 18px 33px #ccc;
    position: absolute;
    top: 0;
    right: 0; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .intra__menu {
        display: none; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .intra__menu {
        display: none; } }
  .intra__menu-title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-top: 37px;
    margin-left: 34px; }
  .intra__menu-item {
    margin: 22px 0 0 34px; }
  .intra__menu-mainlink {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #F16D7F;
    text-decoration: none; }
    .intra__menu-mainlink:hover {
      text-decoration: underline;
      text-shadow: 0 1px 26px #FF6A6A;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
  .intra__menu-link {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: capitalize;
    color: #6F6E6E;
    text-decoration: none;
    margin-left: 19.5px;
    margin-top: 12px; }
    .intra__menu-link:hover {
      text-decoration: underline;
      text-shadow: 0 1px 26px #6F6E6E;
      -webkit-transition: .2s linear;
      transition: .2s linear; }

.stock {
  margin-top: 63px; }
  @media (min-width: 768px) and (max-width: 1599px) {
    .stock {
      margin-top: 19px; } }
  @media (min-width: 375px) and (max-width: 767px) {
    .stock {
      margin-top: 32px; } }
  .stock__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .stock__item-name {
    padding-top: 104px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase; }
  .stock__item-category {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #F16D7F;
    text-transform: uppercase; }
  .stock__item {
    width: 360px;
    height: 260px;
    text-align: center;
    position: relative; }
    .stock__item:last-child {
      width: 100%; }
      @media (min-width: 768px) and (max-width: 1599px) {
        .stock__item:last-child {
          width: 100%; } }
      @media (min-width: 375px) and (max-width: 767px) {
        .stock__item:last-child {
          width: 100%; } }
    .stock__item-content {
      position: absolute;
      top: 0;
      left: calc(50% - 60.5px); }
      @media (min-width: 768px) and (max-width: 1599px) {
        .stock__item-content {
          top: -42px; } }
      @media (min-width: 375px) and (max-width: 767px) {
        .stock__item-content {
          top: 30px; } }
    @media (min-width: 768px) and (max-width: 1599px) {
      .stock__item-img {
        width: 100%; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .stock__item-img {
        width: 100%;
        height: 100%; } }
    @media (min-width: 768px) and (max-width: 1599px) {
      .stock__item {
        width: 31.5%;
        height: auto; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .stock__item {
        padding-top: 32px;
        width: 100%;
        height: 100%; } }

.first__stock-content {
  left: calc(50% - 75px); }

.last__stock {
  padding-top: 30px; }
  .last__stock-content {
    top: -40px;
    left: calc(50% - 80px); }
    @media (min-width: 375px) and (max-width: 767px) {
      .last__stock-content {
        display: none; } }
  @media (min-width: 375px) and (max-width: 767px) {
    .last__stock {
      background-image: url(../img/forkids_bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 111px;
      margin-top: 32px; } }
  @media (min-width: 375px) and (max-width: 767px) {
    .last__stock-img {
      display: none; } }

.popular__catalog {
  margin-top: 30px; }
  @media (min-width: 768px) and (max-width: 1599px) {
    .popular__catalog {
      margin-top: 55px; } }
  @media (min-width: 375px) and (max-width: 767px) {
    .popular__catalog {
      margin-top: 47px; } }
.popular__title {
  margin-top: 97px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #222; }
  @media (min-width: 768px) and (max-width: 1599px) {
    .popular__title {
      margin-top: 155px; } }
  @media (min-width: 375px) and (max-width: 767px) {
    .popular__title {
      margin-top: 64px; } }
.popular__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #9F9F9F;
  margin-top: 6px; }
.popular__more {
  display: block;
  width: 211px;
  margin: 48.5px auto 95.5px;
  padding: 14px 34px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  color: #F26376;
  border: 1px solid #FF6A6A; }
  .popular__more:hover {
    color: #FFF;
    background: #FF6A6A;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    cursor: pointer; }
  @media (min-width: 768px) and (max-width: 1599px) {
    .popular__more {
      margin: 33px auto 65px; } }
  @media (min-width: 768px) and (max-width: 1599px) {
    .popular__more {
      margin: 41px auto 96.5px; } }

.exhibition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .exhibition-item {
    position: relative;
    width: 360px;
    height: 581px;
    margin-top: 17px;
    background: #F8F8F8; }
    .exhibition-item:hover .exhibition-addlink {
      opacity: 1;
      -webkit-transition: .2s linear;
      transition: .2s linear;
      -webkit-box-shadow: 2px 2px 10px #fff;
              box-shadow: 2px 2px 10px #fff;
      transition: .2s linear; }
    .exhibition-item:hover .exhibition-link {
      -webkit-filter: brightness(50%);
              filter: brightness(50%);
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    @media (min-width: 375px) and (max-width: 767px) {
      .exhibition-item {
        width: 100%; } }
    .exhibition-item__img {
      width: 100%; }
  .exhibition-link {
    display: block; }
  .exhibition-addtext {
    margin-left: 11px; }
  .exhibition-addlink {
    position: absolute;
    opacity: 0;
    top: 34%;
    left: calc(50% - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 16px 8px 13px;
    border: 1px solid #fff; }
    .exhibition-addlink:hover {
      -webkit-filter: brightness(75%);
              filter: brightness(75%);
      -webkit-box-shadow: 3px 3px 15px #fff;
              box-shadow: 3px 3px 15px #fff;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
  .exhibition__link-title {
    text-decoration: none;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    margin: 25px 0 0 18px; }
    .exhibition__link-title:hover {
      color: #F16D7F; }
  .exhibition-title {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    margin: 25px 0 0 18px; }
  .exhibition-text {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #5D5D5D;
    margin: 13px 29px 0 17px; }
  .exhibition-price {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #F16D7F;
    margin: 18px 0 0 18px; }

.services {
  min-height: 341px;
  background-color: #222; }
  .services__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .services__catalog {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .services__catalog {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .services__catalog-img {
    margin: 103px 0 0 158px; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .services__catalog-img {
        margin: 48px 0 0 158px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .services__catalog-img {
        margin: 48px 0 0 158px; } }
  .services__catalog-img2 {
    margin: 93px 0 0 158px; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .services__catalog-img2 {
        margin: 48px 0 0 158px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .services__catalog-img2 {
        margin: 48px 0 0 158px; } }
  .services__catalog-img3 {
    margin: 96px 0 0 158px; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .services__catalog-img3 {
        margin: 48px 0 0 158px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .services__catalog-img3 {
        margin: 48px 0 0 158px; } }
  .services__catalog-item {
    width: 360px; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .services__catalog-item:last-child {
        padding-bottom: 64px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .services__catalog-item:last-child {
        padding-bottom: 81px; } }
  .services__catalog-title {
    padding-top: 28px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    color: #fbfbfb;
    text-transform: capitalize; }
  .services__catalog-text {
    padding-top: 15px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    color: #fbfbfbdc; }

.footer {
  width: 100%;
  background-image: url(../img/subscribe-fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) and (max-width: 1599px) {
    .footer {
      height: 100%; } }
  .footer__content-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .footer__content-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__content-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .footer__content-img {
    margin: 97px 0 0 120px; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .footer__content-img {
        margin: 54px 0 0 120px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__content-img {
        margin: 54px 0 0 120px; } }
  .footer__content-review {
    width: 360px; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .footer__content-review {
        margin: 0 auto; } }
  .footer__content-text {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: #222;
    text-align: center; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .footer__content-text {
        margin-top: 20px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__content-text {
        margin-top: 20px; } }
  .footer__content-italic {
    font-style: italic; }
  .footer__subscribe {
    margin-top: 150px;
    text-align: center; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .footer__subscribe {
        margin-top: 68px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__subscribe {
        margin-top: 59px; } }
  .footer__subscribe-title {
    font-size: 24px;
    line-height: 1.6;
    font-weight: 700;
    color: #222;
    text-transform: uppercase; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .footer__subscribe-title {
        font-size: 18px;
        line-height: 1.6;
        font-weight: 700; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__subscribe-title {
        font-size: 24px;
        line-height: 1.6;
        font-weight: 700; } }
  .footer__subscribe-subtitle {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    color: #222;
    text-transform: uppercase; }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__subscribe-subtitle {
        font-size: 14px;
        line-height: 1.6;
        font-weight: 400; } }
  .footer__subscribe-input {
    width: 322px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 30px 0px 0px 30px;
    outline: none;
    padding-left: 20px;
    font-size: 14px;
    font-family: 'Lato', 'Arial', sans-serif; }
    .footer__subscribe-input:hover {
      background: rgba(188, 248, 240, 0.589);
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    .footer__subscribe-input:focus {
      background: rgba(188, 248, 240, 0.589);
      color: #222;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__subscribe-input {
        width: 70%; } }
  .footer__subscribe-area {
    margin-top: 30px; }
  .footer__subscribe-btn {
    width: 100px;
    height: 49px;
    margin-left: -6px;
    font-size: 14px;
    font-family: 'Lato', 'Arial', sans-serif;
    border: none;
    outline: none;
    background-color: #F16D7F;
    color: #fff;
    border-radius: 0 30px 30px 0; }
    .footer__subscribe-btn:hover {
      cursor: pointer;
      background-color: #e95d70;
      text-shadow: 2px 2px 10px #fff;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
  .footer__social {
    min-height: 79px;
    margin-top: 149px;
    background-color: #222; }
    @media (min-width: 768px) and (max-width: 1599px) {
      .footer__social {
        margin-top: 140px; } }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__social {
        margin-top: 109px; } }
  .footer__social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 79px; }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__social-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .footer__social-content-text {
    color: #fbfbfb;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: capitalize; }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__social-content-text {
        margin: 40px 0 9px 0; } }
  .footer__social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__social-list {
    margin-left: 7.3px; }
    @media (min-width: 375px) and (max-width: 767px) {
      .footer__social-list {
        display: block;
        padding-top: 20px; } }
  .footer__social-btn {
    width: 31.5px;
    height: 32px;
    background-color: #fff;
    border: none;
    fill: #000; }
    .footer__social-btn:hover {
      cursor: pointer;
      fill: #fff;
      background-color: #000;
      outline: 1px solid #575555;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    .footer__social-btn--pink {
      background-color: #F16D7F;
      fill: #fff; }
  .footer__social-list:first-child {
    margin-left: 0px; }

@media (min-width: 768px) and (max-width: 1599px) {
  .social__container {
    margin: 0 auto;
    width: 91.5%; } }

.product__footer {
  margin-top: 128px; }

.top__navigation {
  height: 148px;
  background: #F8F3F4; }
  .top__navigation-content {
    height: 148px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top__navigation-title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #F16D7F; }
  .top__navigation-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .top__navigation-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #636363;
    text-transform: uppercase;
    margin-left: 6px; }
    .top__navigation-link:hover {
      color: #000;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
  .top__navigation-span {
    margin-left: 3px; }
  .top__navigation-list--active {
    color: #F16D7F; }
    .top__navigation-list--active:hover {
      color: #F16D7F;
      text-decoration: underline; }

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px; }
  .filter-link {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    fill: #000; }
    .filter-link:hover, .filter-link:focus, .filter-link:active {
      fill: #F16D7F;
      color: #F16D7F;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
  .filter__svg {
    margin-left: 10px; }
  .filter__clarification {
    margin-left: 290px; }
    .filter__clarification-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .filter__clarification-link {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      color: #6F6E6E;
      fill: #6F6E6E;
      margin-left: 28px; }
      .filter__clarification-link:hover, .filter__clarification-link:focus, .filter__clarification-link:active {
        color: #525050;
        fill: #525050;
        -webkit-transition: .2s linear;
        transition: .2s linear; }

.slider {
  width: 283px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  margin-top: 48px;
  margin-bottom: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.visual-item__catalog {
  visibility: hidden; }

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .registration-content {
    width: 360px; }
  .registration-form {
    margin-top: 64px; }
  .registration-fieldset {
    border: none;
    text-transform: capitalize; }
  .registration-legend {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #222; }
  .registration__input-name {
    padding: 13px 16px;
    margin-top: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    width: 360px;
    display: block;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #222;
    border: none;
    outline: 1px solid #A4A4A4; }
    .registration__input-name:hover, .registration__input-name:focus, .registration__input-name:active {
      outline: 1px solid #f5566b;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
  .registration__input-sex {
    display: none; }
    .registration__input-sex:checked + .registration__label-sex:before {
      background: black; }
  .registration__label-sex {
    position: relative;
    margin-top: 33.5px;
    display: inline-block;
    margin-left: 47px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 300;
    color: #000;
    text-transform: capitalize; }
    .registration__label-sex:before {
      position: absolute;
      content: "";
      left: -27px;
      top: -2px;
      border: 1px solid #A4A4A4;
      border-radius: 50%;
      width: 16px;
      height: 16px; }
    .registration__label-sex:nth-child(5) {
      margin-left: 27px; }
  .registration__login {
    margin-top: 34px; }
  .registration-notification {
    margin: 15px 0 39px 0;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    color: #B1B1B1; }
  .registration-btn {
    display: block;
    width: 167px;
    margin-bottom: 96px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    background: #F16D7F;
    color: #fff;
    padding: 16px 20px 17px 29px;
    border: none;
    outline: 1px solid #fff; }
    .registration-btn:hover {
      color: #FF6A6A;
      background: #fff;
      -webkit-transition: .2s linear;
      transition: .2s linear;
      cursor: pointer;
      outline: 1px solid #FF6A6A;
      transition: .2s linear; }
    .registration-btn:hover .button__svg {
      fill: #FF6A6A;
      -webkit-transition: .1s linear;
      transition: .1s linear; }
  .registration__perks {
    width: 652px;
    margin-top: 64px; }
    .registration__perks-title {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 300;
      text-transform: uppercase;
      color: #000; }
    .registration__perks-text {
      margin-top: 22px;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 300; }
    .registration__perks-list {
      position: relative;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 300;
      margin-top: 16px;
      margin-left: 39px;
      padding-left: 4px; }
      .registration__perks-list:first-child {
        margin-top: 21px; }
      .registration__perks-list:before {
        display: block;
        position: absolute;
        content: url(../img/checkmark.png);
        left: -33px; }

.button__svg:nth-child(1) {
  margin-left: 20px;
  fill: #fff; }

.shopping__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .shopping__cart-purchases {
    width: 652px;
    height: 306px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 15px 15px 17px #E5E5E5;
            box-shadow: 15px 15px 17px #E5E5E5; }
    .shopping__cart-purchases:first-child {
      margin-top: 96px; }
  .shopping__cart-details {
    width: 262px;
    margin-right: 88px; }
  .shopping__cart-title {
    margin-top: 22px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #222; }
  .shopping__cart-description {
    margin-top: 5px;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color: #575757; }
    .shopping__cart-description:nth-child(2) {
      margin-top: 42px; }
    .shopping__cart-description--pink {
      color: #FF6A6A; }
    .shopping__cart-description--grey {
      color: #656565; }
    .shopping__cart-description--border {
      border: 1px solid #EAEAEA;
      padding: 0 16px;
      margin-left: 24px;
      color: #656565; }
  .shopping__cart-button {
    width: 652px;
    margin-top: 72px;
    margin-bottom: 128px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .shopping__cart-btn {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    background: #fff;
    color: #000;
    padding: 16px 40px;
    border: 1px solid #A4A4A4; }
    .shopping__cart-btn:hover {
      cursor: pointer;
      background-color: #F16D7F;
      color: #fff;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    .shopping__cart-btn--small {
      padding: 11px 14px;
      font-size: 11px;
      color: #4A4A4A;
      margin-top: 24px; }
  .shopping__cart-form {
    margin-top: 112px;
    width: 360px; }
  .shopping__cart-fieldset {
    border: none; }
  .shopping__cart-legend {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color: #222; }
  .shopping__cart-input {
    display: inline-block;
    width: 360px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 300;
    font-family: 'Lato', 'Arial', sans-serif;
    padding: 14px 16px;
    margin-top: 20px;
    border: none;
    color: #222;
    outline: 1px solid #A4A4A4;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .shopping__cart-input:hover, .shopping__cart-input:focus {
      outline: 1px solid #fd5571;
      -webkit-transition: .2s linear;
      transition: .2s linear;
      color: #222; }

.total {
  margin-top: 57px;
  padding: 42px;
  background: #F5F3F3;
  width: 360px;
  height: 214px; }
  .total-sub {
    text-align: right;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #4A4A4A; }
  .total-price {
    padding-left: 20px; }
    .total-price--pink {
      color: #F16D7F;
      font-weight: 700; }
  .total-grand {
    position: relative;
    text-align: right;
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    color: #222;
    text-transform: uppercase; }
    .total-grand:after {
      position: absolute;
      content: "";
      top: 39px;
      right: 0;
      width: 275px;
      height: 1px;
      background: #E2E2E2; }
  .total-link {
    display: inline-block;
    margin-top: 39px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    background: #F16D7F;
    padding: 15px 42px;
    text-decoration: none; }
    .total-link:hover {
      color: #FF6A6A;
      background: #F5F3F3;
      -webkit-transition: .2s linear;
      transition: .2s linear;
      cursor: pointer;
      outline: 1px solid #FF6A6A;
      transition: .2s linear; }

.demonstration {
  width: 100%;
  height: 777px;
  background-image: url(../img/demonstration-slide.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .demonstration-btn {
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    border: none;
    outline: none; }
    .demonstration-btn:hover {
      cursor: pointer;
      background-color: #e4b2ba;
      -webkit-transition: .2s linear;
      transition: .2s linear; }

.lot__description {
  position: relative;
  margin-bottom: 25px;
  top: -65px;
  height: 601px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #EAEAEA; }
  .lot__description-suptitle {
    position: relative;
    color: #F16D7F;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 64px; }
    .lot__description-suptitle::after {
      position: absolute;
      content: "";
      width: 63px;
      height: 3px;
      background-color: #EF5B70;
      bottom: -12px;
      left: calc(50% - 32px); }
  .lot__description-title {
    color: #4d4d4d;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 27px; }
  .lot__description-content {
    color: #5e5e5e;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    width: 555px;
    margin-left: 292px;
    margin-top: 48px; }
  .lot__description-price {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: #EF5B70;
    margin-top: 32px;
    position: relative; }
    .lot__description-price::after {
      position: absolute;
      content: "";
      width: 641px;
      height: 1px;
      background-color: #EAEAEA;
      right: calc(50% - 320px);
      bottom: -65px; }
  .lot__description-link {
    margin: 49px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 211px;
    height: 47px;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid #FF6A6A;
    color: #F16D7F; }
    .lot__description-link:hover {
      -webkit-box-shadow: 2px 2px 8px #F16D7F;
              box-shadow: 2px 2px 8px #F16D7F; }
  .lot__description-img {
    padding-left: 23px; }
  .lot__description-span {
    padding-left: 23px; }

.description {
  margin-left: calc(50% - 234px);
  margin-top: 120px; }

/*# sourceMappingURL=style.css.map */