.shopping__cart {
    @include flex-spbn;
    &-purchases {
        width: 652px;
        height: 306px;
        margin-top: 40px;
        @include flex-spbn;
        box-shadow: 15px 15px 17px #E5E5E5;
        &:first-child {
            margin-top: 96px;
        }
    }
    &-details {
        width: 262px;
        margin-right: 88px;
    }
    &-title {
        margin-top: 22px;
        @include font(24px, 1.2, 400);
        text-transform: uppercase;
        color: $header-bg;
    }
    &-description {
        margin-top: 5px;
        @include font(22px, 1.2, 400);
        color: #575757;
        &:nth-child(2) {
            margin-top: 42px;
        }
        &--pink {
            color: #FF6A6A;
        }
        &--grey {
            color: #656565;
        }
        &--border {
            border: 1px solid #EAEAEA;
            padding: 0 16px;
            margin-left: 24px;
            color: #656565;
        }
    }
    &-button {
        width: 652px;
        margin-top: 72px;
        margin-bottom: 128px;
        @include flex-spbn;
    }
    &-btn {
        text-transform: uppercase;
        @include font(14px, 1.2, 300);
        background: $white-color;
        color: $black-color;
        padding: 16px 40px;
        border: 1px solid #A4A4A4;
        &:hover {
            cursor: pointer;
            background-color: $pink-color;
            color: $white-color;
            transition: .2s linear;
        }
        &--small {
            padding: 11px 14px;
            font-size: 11px;
            color: #4A4A4A;
            margin-top: 24px;
        }
    }
    &-form {
        margin-top: 112px;
        width: 360px;
    }
    &-fieldset {
        border: none;
    }
    &-legend {
        @include font(16px, 1.2, 300);
        text-transform: uppercase;
        color: $header-bg;
    }
    &-input {
        display: inline-block;
        width: 360px;
        @include font(13px, 1.2, 300);
        font-family: 'Lato', 'Arial', sans-serif;
        padding: 14px 16px;
        margin-top: 20px;
        border: none;
        color: $header-bg;
        outline: 1px solid #A4A4A4;
        appearance: none;
        &:hover,
        &:focus {
            background: rgb(250, 177, 207);
            transition: .2s linear;
            color: $header-bg;
        }
    }
}
.total {
    margin-top: 57px;
    padding: 42px;
    background: #F5F3F3;
    width: 360px;
    height: 214px;
    &-sub {
        text-align: right;
        @include font(11px, 1.2, 400);
        text-transform: uppercase;
        color: #4A4A4A;
    }
    &-price {
        padding-left: 20px;
        &--pink {
            color: #F16D7F;
            font-weight: 700;
        }
    }
    &-grand {
        position: relative;
        text-align: right;
        margin-top: 12px;
        @include font(16px, 1.2, 300);
        color: $header-bg;
        text-transform: uppercase;
        &:after {
            position: absolute;
            content: "";
            top: 39px;
            right: 0;
            width: 275px;
            height: 1px;
            background: #E2E2E2;
        }
    }
    &-link {
        display: inline-block;
        margin-top: 39px;
        @include font(16px, 1.2, 300);
        text-transform: uppercase;
        color: $white-color;
        background: $pink-color;
        padding: 15px 42px;
        text-decoration: none;
        &:hover {
            color: #FF6A6A;
            background: #F5F3F3;;
            transition: .2s linear;
            cursor: pointer;
            outline: 1px solid #FF6A6A;
            transition: .2s linear;
        }
    }
}
 
 