
.filter  {
    display: flex;
    align-items: center;
    min-height: 85px;

    @include table {
        min-height: 45px;
    }

    &-menu {
        @include phone {
            margin-left: -9px;
        }
    }

    &-link {
        @include font(16px, 1.2, 600);
        text-transform: uppercase;
        text-decoration: none;
        color: $black-color;
        fill: $black-color;

        &:hover,
        &:focus,
        &:active {
            fill:  $pink-color;
            color:  $pink-color;
            transition: .2s linear;
        }
    }

    &-span {
        @include phone {
            display: none;
        }
    }

    &__svg {
        margin-left: 10px;
    }

    &__clarification {
        margin-left: 290px;

        @include phone {
            margin-left: 0;
            padding-bottom: 15px;
        }

        &-item {
            display: flex;
            @include phone {
                margin-left: 10px;
            }
        }

        &-link {
            @include font(14px, 1.2, 400);
            text-transform: uppercase;
            text-decoration: none;
            color: $grey-light-color;
            fill: $grey-light-color;
            margin-left: 28px;

            &:hover,
            &:focus,
            &:active {
                color: $grey-text-color;
                fill: $grey-text-color;
                transition: .2s linear;
            }

            @include phone {
                @include font(12px, 1.2, 400);
                margin-left: 24px;
            }
        }
    }
 }
#filter__svgmenu {
    width: 15px;

    @include phone {
        width: 35px;
    }
}

.slider {
    max-width: 283px;
    width: 100%;
    min-height: 43px;
    @include flex-spbn;
    border: 1px solid $grey-bg-color;
    border-radius: 3px;
    margin-top: 48px;
    margin-bottom: 96px;
    align-items: center;
    
    @include table {
        margin: 40px auto 63px;
    }
}