
.filter  {
    display: flex;
    align-items: center;
    height: 85px;
    &-link {
        @include font(16px, 1.2, 600);
        text-transform: uppercase;
        text-decoration: none;
        color: $black-color;
        fill: $black-color;
        &:hover,
        &:focus,
        &:active {
            fill:  $pink-color;
            color:  $pink-color;
            transition: .2s linear;
        }
    }
    &__svg {
        margin-left: 10px;
    }
    &__clarification {
        margin-left: 290px;
        &-item {
            display: flex;
        }
        &-link {
            @include font(14px, 1.2, 400);
            text-transform: uppercase;
            text-decoration: none;
            color: #6F6E6E;
            fill: #6F6E6E;
            margin-left: 28px;
            &:hover,
            &:focus,
            &:active {
                color: #525050;
                fill: #525050;
                transition: .2s linear;
            }
        }
    }
 }
.slider {
    width: 283px;
    height: 43px;
    @include flex-spbn;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    margin-top: 48px;
    margin-bottom: 96px;
    align-items: center;
}