.demonstration {

    width: 100%;
    min-height: 777px;
    height: auto;
    background-image: url(../img/demonstration-slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flex-spbn;
    align-items: center;

    &-btn {

        width: 47px;
        height: 47px;
        background: $grey-shadow-color;
        border: none;
        outline: none;

        &:hover,
        &:focus {
            cursor: pointer;
            background-color: $grey-pink-bg;
            transition: background-color .2s linear;
        }
    }

    @include phone {
        min-height: 624px
    }
}