.lot__description {
    position: relative;
    margin-bottom: 25px;
    top: -65px;
    min-height: 536px;
    background-color: $white-color;
    text-align: center;
    border: 1px solid $grey-shadow-color;

    @include phone {
        width: 100%;
        height: auto;
        position: static;
        border: none;
        border-bottom: 1px solid $grey-shadow-color;
    }

    @include table {
        width: 100%;
        height: auto;
        position: static;
        border: none;
        border-bottom: 1px solid $grey-shadow-color;
    }

    &-suptitle {
        position: relative;
        color: $pink-color;
        @include font(14px, 1.2, 300);
        text-transform: uppercase;
        margin-top: 64px;

        &::after {
            position: absolute;
            content: "";
            width: 63px;
            height: 3px;
            background-color: $pink-color;
            bottom: -12px;
            left: calc(50% - 32px);
        }
    }

    &-title {
        color: $grey-text-color;
        @include font(18px, 1.2, 300);
        text-transform: uppercase;
        margin-top: 27px;
    }

    &-content {
        color: $grey-text-color;
        @include font(14px, 1.2, 300);
        max-width: 555px;
        margin: 48px auto 0;

        @include phone {
            width: 87%;
        }
    }

    &-price {
        @include font(24px, 1.2, 300);
        color: $pink-color;
        margin-top: 32px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 641px;
            height: 1px;
            background-color: $grey-shadow-color;
            right: 50%;
            transform: translate(50%);
            bottom: -65px;

            @include phone {
                width: 51%;
                bottom: -32px;
            }
        }
    }

    &-link {

        margin: 49px auto 65px;
        display: flex;
        align-items: center;
        width: 211px;
        min-height: 47px;
        text-transform: capitalize;
        @include font(16px, 1.2, 400);
        text-decoration: none;
        border: 1px solid $pink-color;
        color: $pink-color;

        &:hover {
            box-shadow: 2px 2px 8px $pink-color;
        }

        @include table {
            margin: 65px auto 65px;
        }

        @include phone {
            margin: 65px auto 65px;
        }
    }

    &-img {
        padding-left: 23px;
    }

    &-span {
        padding-left: 23px;
    }
}

.description {
    
    margin-left: calc(50% - 234px);
    margin-top: 120px;

    @include phone {
        width: 100%;
        margin-top: 81px;
    }

    &-link {
        @include phone {
            font-size: 10px;
            position: relative;
            right: -41px;
        }
    }
}