.registration {
    
    @include flex-spbn;

    @include phone {
        flex-direction: column;
    }

    &-content {
        max-width: 360px;

        @include phone {
            margin: 0 auto;
        }
    }    

    &-form {
        margin-top: 64px;

        @include table {
            margin-top: 40px;
        }
    }

    &-fieldset {
        border: none;
        text-transform: capitalize;
    }

    &-legend {
        @include font(16px, 1.2, 300);
        color: $header-bg;
    }

    &__input-name {

        padding: 13px 16px;
        margin-top: 20px;
        font-family: 'Lato', 'Arial', sans-serif;
        width: 360px;
        display: block;
        @include font(13px, 1.2, 300);
        color: $header-bg;
        border: none;
        outline: 1px solid #A4A4A4;

        @include phone {
            width: 100%;
        }

        &:hover,
        &:focus {
            outline: 1px solid rgb(245, 86, 107);
            transition: .2s linear;
        }
    }

    &__input-sex {
        display: none;

        &:checked + .registration__label-sex:before {
            background: $black-color;
        }
    }

    &__label-sex {

        position: relative;
        margin-top: 33.5px;
        display: inline-block;
        margin-left: 47px;
        @include font(11px, 1.2, 300);
        color: $black-color;
        text-transform: capitalize;

        &:before {
            position: absolute;
            content: "";
            left: -27px;
            top: -2px;
            border: 1px solid $grey-light-color;
            border-radius: 50%;
            width: 16px;
            height: 16px;
        }

        &:nth-child(5) {
            margin-left: 27px;
        }
    }

    &__login {
        margin-top: 34px;
    }

    &-notification {
        margin: 15px 0 39px 0;
        @include font(13px, 1.2, 300);
        color: $grey-light-color;
    }

    &-btn {

        display: block;
        max-width: 167px;
        margin-bottom: 96px;
        font-family: 'Lato', 'Arial', sans-serif;
        @include font(14px, 1.2, 400);
        text-transform: uppercase;
        background: $pink-color;
        color: $white-color;
        padding: 16px 20px 17px 29px;
        border: none;
        outline: 1px solid $white-color;

        @include phone {
            margin-bottom: 40px;
        }

        &:hover {
            color: $pink-color;
            background: $white-color;
            transition: .2s linear;
            cursor: pointer;
            outline: 1px solid $pink-color;
            transition: .2s linear;
        }

        &:hover .registration-btn__svg {
            fill: $pink-color;
            transition: .1s linear;
        }
    }

    &__perks {

        max-width: 652px;
        width: 100%;
        margin-top: 64px;

        @include netbook {
            padding-left: 22px;
        }

        @include table {
            margin: 40px 0 0 22px;
            @include font(16px, 1.2, 300);
        }

        @include phone {
            margin: 0 auto 96px;
            max-width: 360px;
        }

        &-title {
            @include font(24px, 1.2, 300);
            text-transform: uppercase;
            color: $black-color;

            @include table {
                @include font(16px, 1.2, 300);
            }

            @include phone {
                @include font(16px, 1.2, 300);
            }
        }

        &-text {
            margin-top: 22px;
            @include font(24px, 1.2, 300);

            @include table {
                @include font(16px, 1.2, 300);
            }

            @include phone {
                @include font(16px, 1.2, 300);
            }
        }

        &-list {

            position: relative;
            @include font(24px, 1.2, 300);
            margin-top: 16px;
            margin-left: 39px;
            padding-left: 4px;

            @include table {
                @include font(16px, 1.2, 300);
            }

            @include phone {
                @include font(16px, 1.2, 300);
            }

            &:first-child {
                margin-top: 21px;
            }

            &:before {
                display: block;
                position: absolute;
                content: url(../img/checkmark.png);
                left: -33px;
            }
        }
    }
}

.registration-btn__svg:nth-child(1) {
    margin-left: 20px; 
    fill: $white-color;
}