.services {
    width: 100%;
    background-color: $header-bg;

    &__catalog {
        display: flex;
        justify-content: space-around;


        @include table {
            flex-direction: column;
            align-items: center;
        }

        @include phone {
            flex-direction: column;
            align-items: center;
        }
    }

    &__catalog-item {
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 103px;

        @include table {
            margin-top: 48px;
        }

        @include phone {
            margin-top: 48px;
        }
    }

    &__catalog-item:last-child {

        @include table {
            margin-bottom: 64px;
        }

        @include phone {
            margin-bottom: 81px;
        }
    }

    &__catalog-title {
        padding-top: 28px;
        @include font(20px, 1.2, 400);
        text-align: center;
        color: $grey-bg-color;
        text-transform: capitalize;
    }

    &__catalog-text {
        margin: 15px 0 100px;
        @include font(14px, 1.2, 300);
        text-align: center;
        color: $grey-bg-color;

        @include table {
            margin: 15px 0 0;
        }

        @include phone {
            margin: 15px 0 0;
        }
    }
}