.stock {
    margin-top: 63px;
    @include table {
        margin-top: 19px;
    }
    &__list {
        @include flex-spbn;
        flex-wrap: wrap;
    }
    &__item-name {
        padding-top: 104px;
        @include font (16px, 1.2, 400);
        color: $white-color;
        text-transform: uppercase;
    }
    &__item-category {
        @include font (24px, 1.2, 700);
        color: $pink-color;
        text-transform: uppercase;
    }
    &__item {
        width: 360px;
        height: 260px;
        text-align: center;
        position: relative;
        &:last-child {
            width: 100%;
            @include table {
                width: 100%;
            }
        }
        &-content {
            position: absolute;
            top: 0;
            left: calc(50% - 60.5px);
            @include table {
                top: -42px;
            }
        }
        &-img {
            @include table {
                width: 100%;
            }
        }
        @include table {
            width: 31.5%;
            height: auto;
        }
    }
 }
.first__stock {
    &-content {
        left: calc(50% - 75px);
    }
}
.last__stock {
    padding-top: 30px;
    &-content {
        
        left: calc(50% - 80px);
    }
}